<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="metaData">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="meta">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8090/evals/meta" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="meta" name="EvalServiceLibrary.EvalService">
        <endpoint address="http://localhost:8080/evals/basic" binding="basicHttpBinding"
          contract="EvalServiceLibrary.IEval" />
        <endpoint address="http://localhost:8081/evals/ws" binding="ws2007HttpBinding"
          contract="EvalServiceLibrary.IEval" />
        <endpoint address="net.tcp://localhost:8082/evals/" binding="netTcpBinding"
          contract="EvalServiceLibrary.IEval" />
        <endpoint address="http://localhost:8083/evals/dualhttp" binding="wsDualHttpBinding"
          bindingConfiguration="" name="anotherEP" contract="EvalServiceLibrary.IEval" />
        <endpoint address="http://localhost:8085/evals/mex" binding="mexHttpBinding"
          bindingConfiguration="" name="mexHttpEP" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8086/evals" binding="mexTcpBinding"
          bindingConfiguration="" name="mextTCPEP" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>